body, td, p
        {
        /*color : #2f2f2f;*/
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        }

.pNormal
        {
        /*color : #2f2f2f;*/
        color: #000000;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        }

.selectedNav {
        font-family: arial, helvetica, sans-serif;
        color: #000080;
        font-weight: bold;
        font-size: 12px;
        }

.normalNav {
        font-family: arial, helvetica, sans-serif;
        color : #dbb600;
        font-weight: normal;
        font-size: 12px;
        }

.newsDate {
        color : #2f2f2f;
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;
        font-weight: normal;
        }

.justify {
        color : #000000;
        font-family: "Verdana", arial, Geneva, helvetica, sans-serif;
        text-align:justify;
        font-size:10pt;
        font-weight : 400;
        /* background-color : #eeeeee; */

        }

.lbfooter {
        color : #2f2f2f;
        font-family: arial, helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        }
h1
        {
        color: #2F2F2F;
        font-family: arial, helvetica, sans-serif;
        font-size: 16px;
        font-weight :  bold;
        }

h2
        {
        color: #2F2F2F
        font-family: arial, helvetica, sans-serif;
        font-size: 16px;
        font-weight :  bold;
        }

h3
        {
        color: #2F2F2F
        font-family: arial, helvetica, sans-serif;
        font-size: 16px;
        font-weight :  bold;
        margin-right : 25px;
        }

h4
        {
        color:  #2F2F2F
        font-family: arial, helvetica, sans-serif;
        font-size: 11px;
        }

h5
        {
        color:  #2F2F2F;
        font: Arial, Helvetica, sans-serif;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        padding-top: 10px;
        padding-right: 5px;
        text-align : right;
        }

form
        {
        margin-right : 0px;
        font-style: normal;
        font-variant: normal;
        color : #2f2f2f;
        font-family : helvetica, arial, sans-serif;
        font-size : 12px;
        }

strong
        {
        font-weight : bold;
        margin-right : 0px;
        font-style: normal;
        font-variant: normal;
        color : #2f2f2f;
        font-family : helvetica, arial, sans-serif;
        font-size : 12px;
        }

ul
        {
        color : #2f2f2f;
        font-family : arial, helvetica, sans-serif;
        font-size : 12px;
        font-weight :  normal;
        list-style-type :  square;
        }
li
        {
        color: #2f2f2f;
        font-family : arial, helvetica, sans-serif;
        font-size: 12px;
        }

ol
        {
        margin-right : 25px;
        color : #2f2f2f;
        font-family : arial, helvetica, sans-serif;
        font-size : 14px;
        font-weight :  normal;
        margin-left :  0px;
        list-style-type :  square;
        }

news_archiv
        {
        color : #2f2f2f;
        font-family : arial, helvetica, sans-serif;
        font-size : 14px;
        letter-spacing : 1px;
        text-decoration : none;
        }

a:link
        {
        /* color : #dbb600; */
        color : #6699cc;
        font-family : arial, helvetica,sans-serif;
        text-decoration : none;
        }

a:visited
        {
        color : #6699cc;
        text-decoration : none;
        font-family : arial, helvetica, sans-serif;
        }


a:hover
        {
        /* color : #7b5600; */
        color: #000080;
        font-family : arial, helvetica, sans-serif;
        text-decoration : underline;
        }

plaintext
        {
        margin-right : 25px;
        color : #000000;
        font-family : arial, helvetica, sans-serif;
        font-size : 14px;
        line-height : 15px;
        }

formtext
        {
        color : #2f2f2f;
        font-family : arial, helvetica, sans-serif;
        font-size : 14px;
        }
