img {
  border: 0;
}
ul.navigation {
	margin: 0;
	padding: 0;
}
ul.navigation li {
	margin-left: 12px;
	padding-left: 0px;
	list-style-type: square;
	}
	

body, td, p
        {
	color : black;
        font-style: normal;
        font-variant: normal;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        margin: 0;
        }

.title
        {
	color : black;
        font-style: normal;
        font-variant: normal;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        }

.text
        {
	color : black;
        font-style: normal;
        font-variant: normal;
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        }

.justify
	{
	color : black;
        font-family: arial, helvetica, sans-serif;
        text-align:justify;
        font-size:12px;
        }

.selectedNav
	{
        font-family: arial, helvetica, sans-serif;
        color: #0000ff;
        font-weight: bold;
        font-size: 12px;
        }

.normalNav
	{
        font-family: arial, helvetica, sans-serif;
        color : #000055;
        font-weight: normal;
        font-size: 12px;
        }

.newsDate
	{
	color : black;
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;
        font-weight: normal;
        }
.zentriert {
  text-align: center;
}
.header {
  /*background-color: #0080c0;*/
  text-align: center;
  /*color : #ffffff;*/
  color: black;
  height: 65px;
  border-bottom-color: rgb(220,93,81); /* blau: #0080c0; */
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.titleueberschrift {
  font-size: 24px;
}
.titlezeile {
  font-size:18px;
}
.titleLocation {
  font-weight: bold;
 /* font-color: #ffffff;*/
}
.lbfooter
	{
        color : #ffffff;
        font-family: arial, helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        margin-top: 5px;
        width: 100%;
        background-color: #0080C0;
        }
.rechtsbuendig {
  text-align: right;
}
.linkeSeite {
  float: left;
}
.rechteSeite {
  float: right;
}
.module {
  background-color: #f5f5f5;
  text-align: left;
  width: 173px;
}
.module_right_end {
  background-color: #f5f5f5;
  background-image:url(/img/module_back_bottom.gif);
}
.module_ueberschrift_links {
/*  background-image:url(/img/box_back2.png);*/
  background-color: rgb(220, 93, 81); /* bläulich #D4DAFE; */
  font-weight: bold;

}
.module_ueberschrift {
  background-color: rgb(220,93,81); /*#D4DAFE;*/
  font-weight: bold;
  /*padding: 1px;
  /*background-image:url(/img/module_back_top.gif);
  background-repeat: no-repeat;*/
  margin: 0;
}
.module_endtitle {
  width: 173px;
  max-width: 175px;
  overflow:scroll;
  text-align: left;
  background-color: #f5f5ff; /*#ffffff;*/
  /*background-image: url(/img/box_back3.png);*/
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 8px;
}
.module_endtitle_right {
  width: 173px;
  text-align: left;
  background-color: rgb(247,224,223);/* hell bläulich  #f5f5ff;*/
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(220,93,81);
  /*background-image:url(/img/module_back_middle.gif);*/
}
.module_left {
  width: 173px;
  max-width: 173px;
  overflow:scroll;
  padding: 0px;
  margin: 0px;
  border-width: 0;
  background-color: #ffffff;
}
.module_abstand {
  height: 2px;
  background-color: "#f5f5f5";
}
.module_right {
  width: 173px;
  border:0px;
  border-size:0px;
  padding: 0px;
  margin: 0px;
  border-width: 0;
}
.Spalte {
 height: 560px;
 vertical-align: top;
 background-color:#ffffff;
}
.SpalteRechts {
 height: 560px;
 width: 175px;
 padding-left: 20px;
 vertical-align: top;
 background-color:#ffffff;
}
.SpalteLinks {
 height: 560px;
 width: 175px;
 padding-right: 20px;
 vertical-align: top;
 max-width: 175px;
 overflow:scroll;
 background-color:#ffffff;
 background-image:url(/img/left_back.png);
}
h1
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	}
h2
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	}
h3
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight :  bold;
	margin-right : 25px;
	}

h4
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	}

h5
	{
	color: White;
	font: Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	padding-top: 10px;
	padding-right: 5px;
	text-align : right;
	}

form
	{
	margin-right : 0px;
	font-style: normal;
        font-variant: normal;
	color : black;
	font-family : helvetica, arial, sans-serif;
	font-size : 12px;
	}

strong
	{
	font-weight : bold;
	margin-right : 0px;
	font-style: normal;
        font-variant: normal;
	color : black;
	font-family : helvetica, arial, sans-serif;
	font-size : 12px;
	}

ul
	{
	color : black;
	font-family : arial, helvetica, sans-serif;
	font-size : 12px;
	font-weight :  normal;
	}
li
	{
	font-family : arial, helvetica, sans-serif;
	font-size: 12px;
	}

ol
	{
	margin-right : 25px;
	color : black;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	font-weight :  normal;
	margin-left :  0px;
	}

news_archiv
	{
	color : #000000;
	font-family : arial, helvetica, sans-serif;
	font-size : 14px;
	letter-spacing : 1px;
	text-decoration : none;
	}

a:link
	{
	color : #000088;
	font-family : arial, helvetica, sans-serif;
	text-decoration : none;
	}

a:visited
	{
	color : #000066;
	font-family : arial, helvetica, sans-serif;
	text-decoration : none;
	}

a:hover
	{
	color : #3333ff;
	font-family : arial, helvetica, sans-serif;
	text-decoration : underline;
	}
.berlinlogo {
  background-image: url(/img/berlinlogo.gif);
  background-color: white;
  width: 80px;
  height: 27px;
}